---
const { lang } = Astro.props as {
  lang: keyof typeof navLinksText
}
const navLinksText = {
  bn: {
    about: {
      link: 'bn/about',
      text: 'জানুন'
    },
    services: {
      link: 'bn/services',
      text: 'সেবাসমূহ'
    },
    contact: {
      link: 'bn/contact',
      text: 'যোগাযোগ'
    }
  },
  en: {
    about: {
      link: 'about',
      text: 'About'
    },
    services: {
      link: 'services',
      text: 'Services'
    },
    contact: {
      link: 'contact',
      text: 'Contact'
    }
  }
}

const texts = navLinksText[lang]
---

<nav>
  <a href={texts.about.link}>{texts.about.text}</a>
  <a href={texts.services.link}>{texts.services.text}</a>
  <a href={texts.contact.link}>{texts.contact.text}</a>
</nav>

<style>
  nav {
    border: 0.2rem solid var(--color-f);
    border-radius: 6rem;
    bottom: 1rem;
    display: flex;
    font-weight: 600;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    overflow: hidden;
    position: fixed;
  }

  nav > a {
    background-color: var(--color-s);
    line-height: 3rem;
    height: 2.8rem;
    transition: filter 250ms ease-in;
    width: 6rem;
  }

  nav > a:hover,
  nav > a:focus {
    filter: brightness(1.1) saturate(0.7);
  }

  nav > a:active {
    filter: brightness(0.9);
  }

  nav > a:not(:last-child) {
    border-inline-end: 0.1rem solid var(--color-b);
  }

  @media screen and (min-width: 30rem) {
    nav > a {
      width: 8rem;
    }
  }

  @media screen and (min-width: 68rem) {
    nav {
      bottom: unset;
      top: 1rem;
    }
  }
</style>
